<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/repos/GU_POMPractice">
        <classes>
            <class name="tests.LogoutTests">
                <methods>
                    <include name="LogoutTest"/>
                </methods>
            </class>
            <class name="tests.PurchaseAProductTests">
                <methods>
                    <include name="purchaseARandomProductTest"/>
                </methods>
            </class>
            <class name="tests.RemoveProductTests">
                <methods>
                    <include name="removeAllOfTheProducts"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>